<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: header">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>List Food</h1>
    <h2 th:if="${message} != null" th:text="${message}"></h2>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary"><a th:href="@{/cuisines1/create}">Create new food</a></button>
        </div>
        <div id="search" class="col-6">
            <form th:action="@{/cuisines1/search}" method="post">
                <label><input type="text" name="search" th:value="${search}"></label>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>price</th>
            <th>category</th>
            <th>classify</th>
            <th>amount</th>
            <th id="action" colspan="3"></th>
        </tr>
        <tr th:each="c,status : ${cuisines2}">
            <td th:text="${status.count}"></td>
            <td th:text="${c.getName()}"></td>
            <td th:text="${c.getPrice()}"></td>
            <td th:text="${c.getCategory()}"></td>
            <td th:text="${c.getClassify()}"></td>
            <td th:text="${c.getAmount()}"></td>
            <td th:text="${c.getMenu().getName()}"></td>
            <td>
                <button class="btn btn-warning">
                    <a th:href="@{/cuisines1/update/{id}(id=${c.getId()})}">Update</a>
                </button>
            </td>
            <td>
                <button class="btn btn-danger">
                    <a th:href="@{/cuisines1/delete/{id}(id=${c.getId()})}">Delete</a>
                </button>
            </td>
            <td>
                <button class="btn btn-info">
                    <a th:href="@{/cuisines1/{id}(id=${c.getId()})}">Detail</a>
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>